body
  font-family: sans-serif
  background-color: #caf7e3

.header
  position: absolute
  top: 0px
  left: 0px
  right: 0px
  min-height: 50px
  height: auto
  align-items: center
  background-color: #f8eded

.navi-bar
  display: flex
  flex-direction: row

  ul
    list-style: none

.login-reg
  display: flex
  flex-direction: row

  ul
    list-style: none

.navi-link
  display: flex
  flex-direction: row
  text-decoration: none

.footer
  position: absolute
  bottom: 0px
  left: 0px
  right: 0px
  background-color: #f8eded
  min-height: 75px
  height: auto
  align-items: center

  hr
    margin-right: 3%
    margin-left: 3%
    color: #fc5404

.footer-information-area
  display: flex
  flex: 1 1 40px
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  margin-top: 8px

.copyright
  display: flex
  align-items: center
  justify-content: center
  min-height: 30px
  white-space: normal
  margin-right: 3%
  margin-left: 3%

.footer-60
  // border: 1px solid blue
  margin-left: 8%
  margin-right: auto
  align-items: center

.footer-40
  // border: 1px solid green
  margin-left: auto
  margin-right: 8%
  align-items: center

.float-left
  float: left

.float-right
  float: right

.footer-link
  text-decoration: none
  color: #fc5404